<div
  class="container md-5"
  style="border: 1px solid black; justify-content: center"
>
  <div style="background-image: url('./assets/std1.jpg')">
    <div class="row" style="display: flex; align-content: center">
      <div class="col-4" style="padding-left: 70px">
        <h4 style="color: yellow">
          WEST INDIES
          <img
            class="img-responsive"
            src="./assets/img2.png"
            style="width: auto; height: 60px"
          />
        </h4>
      </div>
      <div class="col-4">
        <h4
          style="
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            color: darkgray;
          "
        >
          ICC WORLD CUP-2022
        </h4>
      </div>
      <div class="col-4">
        <h4 style="color: yellow">
          INDIA<img
            class="img-responsive"
            src="./assets/img1.png"
            style="width: auto; height: 60px"
          />
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4" style="align-content: center; padding-top: 50px">
        <img
          class="image-responsive"
          src="./assets/img2.png"
          style="width: auto; height: 150px; padding-left: 70px"
        />
        <p
          style="
            padding-left: 100px;
            padding-top: 20px;
            font-weight: bold;
            color: goldenrod;
          "
        >
          WI {{ wirun }}-{{ wiwicket }} <br />
          OVERS-48.4
        </p>
        <div
          style="
            padding-left: 100px;
            font-size: 20px;
            font-family: 'Times New Roman';
            font-weight: bold;
            color: lightblue;
            padding-top: 50px;
          "
        >
          <tr>
            <td>Brain laura-</td>
            <td>76*</td>
          </tr>
          <tr>
            <td>bravo-</td>
            <td>45*</td>
          </tr>
          <tr>
            <td>pollard-</td>
            <td>100*</td>
          </tr>
        </div>
      </div>
      <div class="col-4" style="padding-left: 100px; padding-top: 100px">
        <img
          class="image-responsive"
          src="./assets/center.png"
          style="width: auto; height: 100px"
        />
      </div>
      <div class="col-4" style="padding-top: 50px">
        <img
          class="image-responsive"
          src="./assets/img1.png  "
          style="width: auto; height: 150px"
        />
        <P
          style="
            padding-left: 40px;
            padding-top: 10px;
            color: goldenrod;
            font-weight: bold;
          "
          >IND {{ indrun }} <br />
          OVERS-50
        </P>
        <div
          style="
            margin-left: 40px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            color: lightblue;
            padding-top: 50px;
          "
        >
          <tr>
            <td>sachin-</td>
            <td>100*</td>
          </tr>
          <tr>
            <td>Dhoni-</td>
            <td>75*</td>
          </tr>
          <tr>
            <td>shewag-</td>
            <td>45*</td>
          </tr>
        </div>
      </div>
    </div>

    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="row container-fluid" style="padding-top: 20px">
      <button class="btn btn-success" (click)="goTo()">
        CLICK TO SUBSCRIBE
      </button>
    </div>
    <div>
      <br />
      <br />
    </div>
  </div>
</div>
