<div style="background-image: url('./assets/bg5.jpg')">
  <div class="row" style="display: flex; justify-content: center"></div>
  <div class="col-4"></div>
  <div
    class="col-4"
    style="
      margin-left: auto;
      margin-right: auto;
      /* background-color: rgb(107, 134, 133); */
      border: 2px solid black;
      border-radius: 10px;
    "
  >
    <div
      class="container-fluid mb-5"
      style="justify-content: center; font-style: italic"
    >
      <h1
        style="
          font-family: Georgia, 'Times New Roman', Times, serif;
          padding-top: 10px;

          justify-content: center;

          padding-left: 15px;
          color: rgb(8, 71, 14);
        "
      >
        SUBSCRIBE FIELD
        <hr />
      </h1>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        {{ userForm.value | json }}
        <!-- <hr />
        {{ usermodel | json }} -->

        <div class="form-group #name" style="padding-top: 20px">
          <label>Username</label>
          <input
            type="text"
            ngModel
            class="form-control"
            name="username"
            [(ngModel)]="usermodel.name"
            required
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Enter valid name!</small
          >
        </div>
        <div class="form-group">
          <label>Mail</label>
          <input
            type="text"
            ngModel
            class="form-control"
            name="mail"
            [(ngModel)]="usermodel.mailid"
          />
        </div>
        <div class="form-group">
          <label>Phone number</label>
          <input
            type="tel"
            class="form-control"
            ngModel
            name="phone"
            [(ngModel)]="usermodel.phone"
            #phone="ngModel"
            pattern="^\d{10}$"
            required
            [class.is-invalid]="phone.invalid && phone.touched"
          />
          <small
            class="text-danger"
            [class.d-none]="phone.valid || phone.untouched"
            >Enter valid number!</small
          >
          <!-- <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">
              Phone number is required</small
            >
            <small class="text-danger" *ngIf="phone.errors.pattern"
              >Phone Number Must be 10 Digits</small
            >
          </div> -->
        </div>
        <div class="form-group">
          <select
            class="custom-select"
            ngModel
            name="topic"
            [(ngModel)]="usermodel.topic"
          >
            <option selected>Trail feedback</option>
            <option *ngFor="let topic of topics">{{ topic }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Time preference</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Time preference"
              value="monthly"
              ngModel
              [(ngModel)]="usermodel.timepreference"
            />
            <label class="form-check-label">MONTHLY SUBSCRIBE</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Time preference"
              value="weekly"
              ngModel
              [(ngModel)]="usermodel.timepreference"
            />
            <label class="form-check-label">WEEKLY SUBSCRIBE</label>
          </div>
        </div>
        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            ngModel
            name="subscribe"
            [(ngModel)]="usermodel.subscribe"
          />
          <label class="form-check-label">Send me Promotional offers</label>
        </div>
        <button
          class="btn btn-success"
          type="submit"
          ngModel
          (click)="showToast()"
        >
          Submit Form
        </button>
      </form>
    </div>
  </div>
  <div class="col-4"></div>
</div>
